@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css";
@import url("https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Anek Latin", sans-serif;
  background-color: #f5f5f5;
}
header {
  position: relative;
  background-color: black;
  height: 70vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  clip-path: ellipse(132% 100% at 50% 0%);
}
header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
header .container {
  position: relative;
  z-index: 2;
}
header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.75;
  z-index: 1;
}
/* Media Query for devices withi coarse pointers and no hover functionality */
/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
/* @media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://source.unsplash.com/XT5OInaElMw/1600x900") black
      no-repeat center center scroll;
  }

  header video {
    display: none;
  }
} */
nav {
  z-index: 9999;
}
.section_our_solution .row {
  align-items: center;
}
.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.solution_cards_box .solution_card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 330px;
  transition: 0.7s;
}
.solution_cards_box .solution_card:hover {
  background: #05284c;
  color: #fff;
  transform: scale(1.1);
  z-index: 9;
}
.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}
.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #fff;
}
.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}
.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #dc3545;
}
.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}
.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}
.solution_card .solu_description button {
  border: 0;
  border-radius: 4px;
  /* background: linear-gradient(
      140deg,
      #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%
    ) !important; */
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
  /* background: #dc3545 !important; */
}
.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}
.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}
.solution_cards_box .solution_card .so_top_icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.solution_cards_box .solution_card .so_top_icon img {
  width: 100px;
  object-fit: contain !important;
}
/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    flex: auto;
  }
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    margin: 0 auto;
  }
}
/* Whatsapp floating button */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 5px;
}
.float:hover {
  color: #fff;
}
.my-float {
  margin-top: 16px;
}
.bounce {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-12px);
  }
}
.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
  margin-top: 1px;
}
.nice-select {
  background-color: transparent !important;
  padding-left: 10px !important;
  padding-right: 22px !important;
}
.current {
  color: #fff;
}
.bg-dark-transparent {
  background-color: #111111eb;
}
input#menuToggle {
  display: none;
}
.openDiv {
  background-color: #fff;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  top: 0px;
}
.openDiv:before {
  content: "";
  background-color: #fff;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: -8px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
.openDiv:after {
  content: "";
  background-color: #fff;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 4px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}
.menuOpenLabel {
  width: 67px;
  display: block;
  padding: 15px;
  cursor: pointer;
  float: right;
  /* border: 2px #ffffffc7 solid; */
  padding: 20px;
  border-radius: 25px;
  position: relative;
  height: 48px;
}
.menuOpenLabel:hover .openDiv:before {
  top: -9px;
}
.menuOpenLabel:hover .openDiv:after {
  top: 5px;
}
.menuNav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #000000eb;
}
.menuNav label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
  cursor: pointer;
}
.menuNav .menuContent {
  position: relative;
  top: 50%;
  font-size: 54px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -170px;
}
.menuNav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.menuNav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  font-family: Trebuchet MS;
  text-transform: uppercase;
  padding: 35px 0;
}
.menuNav ul li a:hover {
  color: #c8102e;
}
.menuNav ul li:hover {
  background: #e6e9ff;
}
.menuEffects {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}
.menuEffects ul {
  transform: translateY(0%);
  transition: all 0.5s;
}
#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}
#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}
#menuToggle:checked ~ .menuOpenLabel .openDiv {
  background-color: transparent;
}
#menuToggle:checked ~ .menuOpenLabel .openDiv:before {
  content: "";
  background-color: white;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
#menuToggle:checked ~ .menuOpenLabel .openDiv:after {
  content: "";
  background-color: white;
  transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}
#menuToggle:not(:checked) ~ .menuEffects ul {
  transform: translateY(-30%);
}

a,
a > span {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 24px;
}
a:before,
a:after,
a > span:before,
a > span:after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
}
.hover-1 {
  padding-top: 10px;
}
.hover-1:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
}
.hover-1:hover:before {
  transform: scaleX(1);
}
.text-focus-in {
  -webkit-animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-6-16 0:57:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.btn-primary {
  color: #fff;
  background-color: #004996;
  border-color: #004996;
}
.btn-danger {
  color: #fff;
  background-color: #c8102e;
  border-color: #c8102e;
}
.btn-outline-transparent {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  border-width: 2px;
}
.btn-outline-transparent:hover {
  color: #fff;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.cube-layout {
  width: 100%;
  height: 100vh;
  background: #004996;
  background: -webkit-linear-gradient(to left, #021528, #004996);
  background: linear-gradient(to left, #021528, #004996);
  z-index: 99999 !important;
  position: absolute;
  overflow: hidden;
}
/* @import url(https://fonts.googleapis.com/css?family=Archivo+Narrow); */
.cube-folding {
  width: 50px;
  height: 50px;
  display: inline-block;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 0;
}
.cube-folding span {
  position: relative;
  width: 25px;
  height: 25px;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  display: inline-block;
}
.cube-folding span::before {
  content: "";
  background-color: #cacaca;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 25px;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-animation: folding 2.5s infinite linear both;
  -moz-animation: folding 2.5s infinite linear both;
  animation: folding 2.5s infinite linear both;
}
.cube-folding .leaf2 {
  -webkit-transform: rotateZ(90deg) scale(1.1);
  -moz-transform: rotateZ(90deg) scale(1.1);
  transform: rotateZ(90deg) scale(1.1);
}
.cube-folding .leaf2::before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background-color: #acb8c6;
}
.cube-folding .leaf3 {
  -webkit-transform: rotateZ(270deg) scale(1.1);
  -moz-transform: rotateZ(270deg) scale(1.1);
  transform: rotateZ(270deg) scale(1.1);
}
.cube-folding .leaf3::before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  background-color: #fff;
}
.cube-folding .leaf4 {
  -webkit-transform: rotateZ(180deg) scale(1.1);
  -moz-transform: rotateZ(180deg) scale(1.1);
  transform: rotateZ(180deg) scale(1.1);
}
.cube-folding .leaf4::before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  background-color: #c2cedb;
}
@-webkit-keyframes folding {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    -moz-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    -moz-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    -moz-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
}
@-moz-keyframes folding {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    -moz-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    -moz-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    -moz-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
}
@-ms-keyframes folding {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    -moz-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    -moz-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    -moz-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
}
@keyframes folding {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    -moz-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    -moz-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    -moz-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
}
.cube-wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  text-align: center;
  z-index: 9999;
}
.cube-wrapper:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
  width: 90px;
  height: 6px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: shadow 0.5s ease infinite alternate;
  -moz-animation: shadow 0.5s ease infinite alternate;
  animation: shadow 0.5s ease infinite alternate;
}
.cube-wrapper .loading {
  font-size: 15px;
  letter-spacing: 0.1em;
  display: block;
  color: white;
  position: relative;
  top: 25px;
  z-index: 2;
  -webkit-animation: text 0.5s ease infinite alternate;
  -moz-animation: text 0.5s ease infinite alternate;
  animation: text 0.5s ease infinite alternate;
}
@-webkit-keyframes text {
  100% {
    top: 35px;
  }
}
@-moz-keyframes text {
  100% {
    top: 35px;
  }
}
@-ms-keyframes text {
  100% {
    top: 35px;
  }
}
@keyframes text {
  100% {
    top: 35px;
  }
}
@-webkit-keyframes shadow {
  100% {
    bottom: -18px;
    width: 100px;
  }
}
@-moz-keyframes shadow {
  100% {
    bottom: -18px;
    width: 100px;
  }
}
@-ms-keyframes shadow {
  100% {
    bottom: -18px;
    width: 100px;
  }
}
@keyframes shadow {
  100% {
    bottom: -18px;
    width: 100px;
  }
}
/* Override custom modal */
.modal-content {
  background: #e9ecf4 !important;
}
.modal-header {
  margin: 10px !important;
  background: white !important;
  border-radius: 5px !important;
  border-bottom: none !important;
}
/* Slide text hero */
.slider {
  height: 100px;
  text-align: center;
  position: relative;
}
.caption {
  line-height: 100px;
  color: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  margin-left: -300px;
}
.text-box {
  display: inline-block;
  position: relative;
}
.text-box div {
  display: inline-block;
  position: absolute;
  top: -200px;
  transform: rotateX(-90deg);
  opacity: 0;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  animation-timing-function: ease;
}
.text-box div:nth-child(1) {
  animation: rollDown 10s forwards infinite;
}
.text-box div:nth-child(2) {
  animation: rollDown2 10s forwards infinite;
}
.text-box div:nth-child(3) {
  animation: rollDown3 10s forwards infinite;
}
@keyframes rollDown {
  0% {
    top: -200px;
    transform: rotateX(-90deg);
  }
  11% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  22% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  33% {
    top: 50px;
    transform: rotateX(30deg);
    opacity: 0;
  }
}
@keyframes rollDown2 {
  33% {
    top: -200px;
    transform: rotateX(-90deg);
  }
  44% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  55% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  66% {
    top: 50px;
    transform: rotateX(30deg);
    opacity: 0;
  }
}
@keyframes rollDown3 {
  66% {
    top: -200px;
    transform: rotateX(-90deg);
  }
  77% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  88% {
    top: -74px;
    transform: rotateX(0deg);
    opacity: 1;
  }
  99% {
    top: 50px;
    transform: rotateX(30deg);
    opacity: 0;
  }
}
.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
  text-decoration: underline;
  transform: rotate(-90deg);
}
.dropdown-toggle::after {
  margin-top: 10px !important;
}
.nav-item {
  margin-right: 15px !important;
}
#Home {
  padding-top: 10px !important;
}
.hero-banner h1 {
  font-size: 48px;
}
.hero-banner .btn {
  position: relative;
  overflow: hidden;
  z-index: 9;
}
.hero-banner .btn-primary {
  color: #2f2f41;
  background-color: rgba(1, 164, 121, 0.1);
  border-color: #01a479;
}
.hero-banner .btn:before {
  content: "";
  background: #ed5561;
  width: 4px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
.hero-banner .btn:hover:before {
  width: 100%;
}
.alt-font {
  font-family: "Playfair Display", serif !important;
  font-style: normal;
  font-weight: lighter;
}
.text-grad {
  background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  z-index: 9;
}
.border-15 {
  border-radius: 15px;
}
.btn-grad-blue {
  color: #ffffff;
  background: linear-gradient(150deg, #729ac4 0%, #062544 50%, #085eb9 100%);
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: 260% 100%;
  background-position: right bottom;
  border: 0;
  line-height: 1.92;
}
.btn-grad-blue:hover {
  color: #ffffff;
  transform: scale(1.05);
}
.btn-grad-gray {
  color: #ffffff;
  background: linear-gradient(150deg, #aeaeae 0%, #252b31 50%, #b3becb 100%);
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: 260% 100%;
  background-position: right bottom;
  border: 0;
  line-height: 1.92;
}
.btn-grad-gray:hover {
  color: #ffffff;
  transform: scale(1.05);
}
.btn-grad-red {
  color: #ffffff;
  background: linear-gradient(150deg, #c51e59 0%, #861326 50%, #dd1838 100%);
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-size: 260% 100%;
  background-position: right bottom;
  border: 0;
  line-height: 1.92;
}
.btn-grad-red:hover {
  color: #ffffff;
  transform: scale(1.05);
}
.company-text-description {
  font-size: 1.2em;
  text-align: justify;
  margin-top: 20px;
}
.pd-20-company-video {
  padding: 20px;
}
.bg-gradient-text {
  background: linear-gradient(153deg, #c3cdd7 40%, #fff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  z-index: 9;
  /*! border-bottom: 5px solid #98a3af; */
}

/* ========== FLEXBOX PARENT AND CHILD COLUMN ELEMENTS ========= */
/* Flexbox parent container */
.container-flexbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 2px 4px 0 rgb(136 144 195 / 20%),
    0 5px 15px 0 rgb(37 44 97 / 15%);
  border-radius: 15px;
  padding: 35px;
}
/* Desktops: flexbox child columns */
@media all and (min-width: 768px) {
  .item-col-3 {
    width: 29%;
  }
}
/* Mobiles: flexbox child columns */
@media all and (max-width: 767px) {
  .item-col-3 {
    width: 100%;
  }
  /* Vertical spacing under child columns */
  .item-col-3 {
    margin-bottom: 32px;
  }
  /* No vertical spacing under last child column */
  .item-col-3:last-child {
    margin-bottom: 0;
  }
}
/* Desktops: inner padding for child columns */
@media all and (min-width: 768px) {
  .item-col-3.item-col-padding {
    padding: 1.8% 2% 2.2% 2%;
  }
}
/* Mobiles: inner padding for child columns  */
@media all and (max-width: 767px) {
  .item-col-3.item-col-padding {
    padding: 6.5% 7% 7% 7%;
  }
}

.remove-padding {
  padding: 0px !important;
}

.bg-none {
  background: none !important;
}

.social-container {
  width: 400px;
  margin: 40vh auto;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}
.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}
.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #00b5f5, #002a8f);
  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #00b5f5;
  background: -webkit-linear-gradient(45deg, #00b5f5, #002a8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transition: all 265ms ease-in;
}

.box-shadow-light {
  box-shadow: 0 2px 4px 0 rgb(136 144 195 / 20%),
    0 5px 15px 0 rgb(37 44 97 / 15%);
}

.br-bottom-link {
  border-bottom: 1px solid;
}

.dots-container {
  position: absolute;
  left: -3.6vw;
  top: -5.2vw;
  right: auto;
  bottom: auto;
  z-index: -10;
  width: 13vw;
  max-width: none;
}

.scroll-wrap {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 3.5vw;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.scroll-down {
  position: static;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3.5vw;
  height: 3.5vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50vw;
  /* background-color: #ffffff96; */
  animation: bounce 2s infinite;
}

.fab-wrapper {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 999;
}
.fab-checkbox {
  display: none;
}
.fab-button {
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  width: 4rem;
  height: 4rem;
  background: blue;
  border-radius: 50%;
  background: #126ee2;
  box-shadow: 0px 5px 20px #81a4f1;
  transition: all 0.3s ease;
  z-index: 1;
  border-bottom-right-radius: 6px;
  border: 1px solid #0c50a7;
}

.fab-button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.fab-checkbox:checked ~ .fab-button:before {
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  background-color: rgba(255, 255, 255, 0.2);
}
.fab-button:hover {
  background: #2c87e8;
  box-shadow: 0px 5px 20px 5px #81a4f1;
}

.fab-dots {
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  transform: translateX(0%) translateY(-50%) rotate(0deg);
  opacity: 1;
  animation: blink 3s ease infinite;
  transition: all 0.3s ease;
}

.fab-dots-1 {
  left: 15px;
  animation-delay: 0s;
}
.fab-dots-2 {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation-delay: 0.4s;
}
.fab-dots-3 {
  right: 15px;
  animation-delay: 0.8s;
}

.fab-checkbox:checked ~ .fab-button .fab-dots {
  height: 6px;
}

.fab-button .fab-dots-2 {
  transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.fab-checkbox:checked ~ .fab-button .fab-dots-1 {
  width: 32px;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.fab-checkbox:checked ~ .fab-button .fab-dots-3 {
  width: 32px;
  border-radius: 10px;
  right: 50%;
  transform: translateX(50%) translateY(-50%) rotate(-45deg);
}

@keyframes blink {
  50% {
    opacity: 0.25;
  }
}

.fab-checkbox:checked ~ .fab-button .fab-dots {
  animation: none;
}

.fab-wheel {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  width: 10rem;
  height: 10rem;
  transition: all 0.3s ease;
  transform-origin: bottom right;
  transform: scale(0);
}

.fab-checkbox:checked ~ .fab-wheel {
  transform: scale(1);
}
.fab-action {
  position: absolute;
  background: #0f1941;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: White;
  box-shadow: 0 0.1rem 1rem rgba(24, 66, 154, 0.82);
  transition: all 1s ease;
  cursor: pointer;
  opacity: 0;
}

.fab-checkbox:checked ~ .fab-wheel .fab-action {
  opacity: 1;
}

.fab-action:hover {
  background-color: #ffffff;
}

.fab-wheel .fab-action-1 {
  right: -7.1px;
  bottom: 16rem;
  background: #0a66c2;
}

.fab-wheel .fab-action-2 {
  right: -7.1px;
  bottom: 12rem;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.fab-wheel .fab-action-3 {
  right: -7.1px;
  bottom: 8rem;
  background: #4267b2;
}
.fab-wheel .fab-action-4 {
  right: -7.1px;
  bottom: 4rem;
  background: #25d366;
}

a.fab-action:hover {
  color: #fff;
}
