/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #menuArea {
    display: block;
  }

  #modalContentCompany {
    height: auto;
  }  

  #langContainerMobile{
    display: block;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #menuArea {
    display: block;
  }  

  #modalContentCompany {
    height: auto;
  }

  #langContainerMobile{
    display: block;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #menuArea {
    display: none;
  }

  #modalContentCompany {
    height: 485px !important;
  }

  #langContainerMobile{
    display: none;
  }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #menuArea {
    display: none;
  }

   #modalContentCompany {
    height: 485px !important;
  }

  #bgVideoDCGaskets {
    width: 100%;
  }

  #langContainerMobile{
    display: none;
  }
}
/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #menuArea {
    display: none;
  }

  #modalContentCompany {
    height: 485px !important;
  }

  #langContainerMobile{
    display: none;
  }
}

/* ========== MAIN CONTENT CONTAINERS ========= */
/* Desktops */
@media all and (min-width: 768px) {
  .container-block {
    padding: 4% 8%;
  }

  #titleHeader {
    font-size: 6em;
  }
}
/* Mobiles */
@media all and (max-width: 767px) {
  .container-block {
    padding: 11% 8%;
  }

  #titleHeader {
    font-size: 3em;
  }

  #subtitleHeader {
    font-size: 1.5em;
  }

  header {
    clip-path: none;
  }

  .scroll-wrap {
    bottom: 11.5vw;
  }

  #bgVideoDCGaskets {
    width: auto;
    height: 100%;
  }
}